.flex {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border-color: gray;
  border: solid;
  border-width: 1px;
  height: 50px;
  align-items: center;
}

.item {
  background-color: lightpink;
}