.flexbox {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.item {
  background-color: lightpink;
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item0 {
  background-color: lightblue;
  width: 200px;
}

.item1 {
  background-color: black;
  color: white;
}

