body {
  font-family:Arial;
}

.email {
  display: flex;
  align-items: center;
}

.name-info {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-picture {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.container {
  border:solid;
  border-width: 1px;
  border-color: rgb(230, 230, 230);
  height: 120px;
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius:2px;
  padding-left:16px;
  padding-top:8px;
}

.inboxes {
  color: gray;
  font-size: 13px;
  margin-bottom: 20px;
}

.name {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 3px;
}

.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
}

.text {
  font-size: 14px;
  color: gray;
}

.time {
  font-size: 14px;
  color: gray;
  margin-left: 120px
}
